.widget-container {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "left-widget top-widget right-widget"
    "left-widget fill-widget right-widget"
    "bottom-widget bottom-widget bottom-widget";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  position: relative;
}

.composition-area {
  position: absolute;
  inset: 0;
  overflow: hidden;
}
